
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@100;300;400&display=swap');

:root {
  --border: 10px;
  --main-width: min(calc(100% - 2em) , 1600px);
  --primary-bg: #131214;
  --card-bg: #1D1C1F;
  --on-bg: #EAE6F2;
  --secondary-color-font: #7b7980;
}
body {
  background-color: var(--primary-bg);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  font-weight: 100;
  color: var(--on-bg);
}

nav {
  height: 8%; 
  width: var(--main-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 3em;
  padding: 10px;
}
nav h2 {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  color: #ff9500;
}
nav span {
  color:var(--on-bg);
  font-weight: bold;
}
.search {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid black;
  background: rgba(255,255, 255, .1);
}
input {
  border: none;
  padding: 10px;
  width: 90%;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: #fff;
}
.searchIcon {
  color: #fff;
}
main {
  padding: 1em 0;
  margin: auto;
  width: var(--main-width);

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(assets/nature.jpg) center center;
  background-size: cover;
  width: 30%;
  border-radius: var(--border);
  height: 100%;
  color: var(--on-bg);
  background-image: linear-gradient(to left top, #07080d, #090b13, #0b0e18, #0d111c, #0e1320);
}
.city {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.city .icon {
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  color: #3f63a2;
}
.city h2 {
  font-size: 1.4em;
  font-weight: 300;
}
.container {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: var(--border);
}
.container h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
h4 {
  text-align: left;
  font-weight: bold;

}
.hero-body {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 1em;

}
.hero-body .card {
  background: rgba(255,255,255,.1);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, .2);
  padding: 1em;
  border-radius: 10px;
  width: min(350px, calc(100% - 20px));
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2em;
}

.hero-body .card:hover {
  background-color: var(--secondary-color-font);
}
.hero-body.card:hover ~ .time {
  color: var(--card-bg)
}
.hero-body .card .time{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.time .text h3{
  font-size: .8em;
}
.time .text h2{
  font-size: 1.3em;
}
.icon {
  text-align: center;
  line-height: 100%;
}
.body {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-between;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 400;
}

.header {
  width: 100%;
  padding: 1.5em;

}
.temp-des {
  display: flex;
  flex-direction: column;

  padding: 2em 0;
  margin: 2em 0;
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}


.temp-des h2 {
  font-size: 2em;
  font-weight: 400;
}
.temp-des p {
  font-size: 1.1em;



}
.temp {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: space-between;
}
.row1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;


}
.row1 .card {

  flex-basis: 21%;
  background: rgba(255,255, 255, .1);
  border-radius: var(--border);
  padding: 25px 15px;
  height: 130px;

  background: var(--primary-bg)
}
.row1 h1 {

  font-size: .9em;
  font-weight: 400;
  margin-right: 10px;
  color: var(--secondary-color-font);
  

}
.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  
}
.row1 h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 400;

}
.row2 {

  width: 100%;
  padding: 1.1em;
  
  background-color: #fff;
  background: rgb(33,33,61);
  border-radius: var(--border);
  background: var(--card-bg);
}
.forecast {
  font-weight: bold;
  margin-bottom: 15px;
  
}

img {
  width: 70px;
  height: 70px;
}

@media only screen and (max-width: 1250px) {
  .row1 .card {
    flex-basis: 40%;
  }
  .row1{
    justify-content: center;

  }
  .row2 {

    padding: 15px;

  }
}

@media only screen and (max-width: 800px) {
  .row1 .card {
    flex-basis: 90%;
  }
  nav h2 {
    font-size: 1.1em;

  }
  nav {

    gap: 20px;
  }
  input {

    font-size: 16px;

  }
  main {

    flex-direction: column;
    align-items: center;
  }
  .hero, .body {

    width: min(500px, calc(100% - 5px));

  }
}